<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>
                <div class="panel-heading" *ngIf="backpage"><h2>Chofer Bitácora de Pagos</h2></div>
                <table class='table table-striped' [mfData]='data | numeroDataFilter : filterQuery1 | persona_propietarioDataFilter : filterQuery2' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                            <th style='width: 15%'>
                                <mfDefaultSorter by='chofer'>Chofer</mfDefaultSorter>
                            </th>
                            <th style='width: 15%'>
                                <mfDefaultSorter by='fecha'>Fecha</mfDefaultSorter>
                            </th>
                            <th style='width: 15%'>
                                <mfDefaultSorter by='montopagado'>Monto Pagado</mfDefaultSorter>
                            </th>
                            <th style='width: 15%'>
                                <mfDefaultSorter by='folio'>Folio</mfDefaultSorter>
                            </th>
                            <th style='width: 15%'>
                                <mfDefaultSorter by='numero'>Número</mfDefaultSorter>
                            </th>
                            <th style='width: 15%'>
                                <mfDefaultSorter by='nota'>Observaciones</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>{{ item.chofer  }}</td>
                            <td>{{ item.fecha | date:'dd/MM/y' }}</td>
                            <td>{{ item.montopagado | currency: 'MXN' }}</td>
                            <td>{{ item.folio }}</td>
                            <td>{{ item.numero }}</td>
                            <td>{{ item.nota }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-2' *ngIf="backpage">
            <button (click)='backPage()' class='btn btn-primary'><i class='fa fa-arrow-left'></i> Regresar</button>
        </div>
    </div>
</div>
