<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>
                <table class='table table-striped' [mfData]='data | fechaDataFilter : filterQuery1 | estado_estado_idestadoDataFilter : filterQuery2 | permisotaxiasignado_permisotaxiasignado_idpermisotaxiasignadoDataFilter : filterQuery3 | chofer_chofer_idchoferDataFilter : filterQuery4' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                            <th colspan='1' class='text-left'>
                                Filtrar por Fecha:
                                <input class='form-control' [(ngModel)]='filterQuery1' />
                            </th>
                            <th colspan='1' class='text-left'>
                                Filtrar por Estado:
                                <input class='form-control' [(ngModel)]='filterQuery2' />
                            </th>
                            <th colspan='1' class='text-left'>
                                Filtrar por Permiso:
                                <input class='form-control' [(ngModel)]='filterQuery3' />
                            </th>
                            <th colspan='2' class='text-left'>
                                Filtrar por Chofer:
                                <input class='form-control' [(ngModel)]='filterQuery4' />
                            </th>
                        </tr>
                        <tr>
                            <th style='width: 20%'></th>
                            <th style='width: 11%'>
                                <mfDefaultSorter by='fecha'>Fecha</mfDefaultSorter>
                            </th>
                            <th style='width: 11%'>
                                <mfDefaultSorter by='montoapagar'>Monto a Pagar</mfDefaultSorter>
                            </th>
                            <th style='width: 11%'>
                                <mfDefaultSorter by='h_corte'>Hora de Corte</mfDefaultSorter>
                            </th>
                            <th style='width: 11%'>
                                <mfDefaultSorter by='saldoactual'>Saldo Actual</mfDefaultSorter>
                            </th>
                            <th style='width: 11%'>
                                <mfDefaultSorter by='permisotaxiasignado_permisotaxiasignado_idpermisotaxiasignado'>Permiso</mfDefaultSorter>
                            </th>
                            <th style='width: 11%'>
                                <mfDefaultSorter by='chofer_chofer_idchofer'>Chofer</mfDefaultSorter>
                            </th>
                            <th style='width: 11%'>
                                <mfDefaultSorter by='estado_estado_idestado'>Estado</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button title='Editar Registro' (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button title='Eliminar Registro' (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.fecha | date:'dd/MM/y' }}</td>
                            <td>{{ item.montoapagar  }}</td>
                            <td>{{ item.h_corte  }}</td>
                            <td>{{ item.saldoactual  }}</td>
                            <td>{{ item.permisotaxiasignado_permisotaxiasignado_idpermisotaxiasignado }}</td>
                            <td>{{ item.chofer_chofer_idchofer }}</td>
                            <td>{{ item.estado_estado_idestado }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
