<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>
                <div class="panel-heading" *ngIf="backpage"><h2>Información de Conceptos</h2></div>
                <table class='table table-striped' [mfData]='data | nombreDataFilter : filterQuery1' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                            <th colspan='2' class='text-left'>
                                Filtrar por Concepto:
                                <input class='form-control' [(ngModel)]='filterQuery1' />
                            </th>
                        </tr>
                        <tr>
                            <th style='width: 20%'></th>
                            <th style='width: 80%'>
                                <mfDefaultSorter by='nombre'>Nombre</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button title='Agregar Egreso Conceptos' (click)='insertEgresoconcepto(item)' class='btn btn-sm btn-success'><i class='fa fa-plus'></i> Egreso Conceptos</button>
                                <button title='Ver Egreso Conceptos' (click)='viewEgresoconcepto(item)' class='btn btn-sm btn-warning'><i class='fa fa-eye'></i> Egreso Conceptos</button>
                                <button title='Editar Registro' (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button title='Eliminar Registro' (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.nombre  }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-2'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
        <div class='col-sm-2' *ngIf="backpage">
            <button (click)='backPage()' class='btn btn-primary'><i class='fa fa-arrow-left'></i> Regresar</button>
        </div>
    </div>
</div>
