<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>
                <table class='table table-striped' [mfData]='data | vehiculo_vehiculo_idvehiculoDataFilter : filterQuery1 | permisotaxi_permisotaxi_idpermisotaxiDataFilter : filterQuery2 | chofer_chofer_idchoferDataFilter : filterQuery3 | fechaDataFilter : filterQuery4 | estado_estado_idestadoDataFilter : filterQuery5' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                            <th colspan='1' class='text-left'>
                                Filtrar por Placa de Vehiculo:
                                <input class='form-control' [(ngModel)]='filterQuery1' />
                            </th>
                            <th colspan='1' class='text-left'>
                                Filtrar por Número de Permiso:
                                <input class='form-control' [(ngModel)]='filterQuery2' />
                            </th>
                            <th colspan='1' class='text-left'>
                                Filtrar por Nombre de Chofer:
                                <input class='form-control' [(ngModel)]='filterQuery3' />
                            </th>
                            <th colspan='1' class='text-left'>
                                Filtrar por Fecha:
                                <input class='form-control' [(ngModel)]='filterQuery4' />
                            </th>
                            <th colspan='2' class='text-left'>
                                Filtrar por Estado:
                                <input class='form-control' [(ngModel)]='filterQuery5' />
                            </th>
                        </tr>
                        <tr>
                            <th style='width: 20%'></th>
                            <th style='width: 13%'>
                                <mfDefaultSorter by='estado_estado_idestado'>Estado</mfDefaultSorter>
                            </th>
                            <th style='width: 13%'>
                                <mfDefaultSorter by='fecha'>Fecha</mfDefaultSorter>
                            </th>
                            <th style='width: 13%'>
                                <mfDefaultSorter by='hora'>Hora</mfDefaultSorter>
                            </th>
                            <th style='width: 13%'>
                                <mfDefaultSorter by='chofer_chofer_idchofer'>Chofer</mfDefaultSorter>
                            </th>
                            <th style='width: 13%'>
                                <mfDefaultSorter by='vehiculo_vehiculo_idvehiculo'>Vehículo</mfDefaultSorter>
                            </th>
                            <th style='width: 13%'>
                                <mfDefaultSorter by='permisotaxi_permisotaxi_idpermisotaxi'>Permiso Taxi</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button *ngIf="item.estado_estado_idestado !== 'ASIGNADO-REPARANDO'" title='Enviar a Taller' (click)='addEnviotallerModalShow(item)' class='btn btn-sm btn-warning'><i class='fa fa-car'></i></button>
                                <button *ngIf="item.estado_estado_idestado !== 'ASIGNADO-CORRALÓN'" title='Enviar a Corralón' (click)='addCorralonModalShow(item)' class='btn btn-sm btn-danger'><i class='fa fa-thumbs-down'></i></button>
                                <button title='Editar Registro' (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button title='Eliminar Registro' (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.estado_estado_idestado }}</td>
                            <td>{{ item.fecha | date:'dd/MM/y' }}</td>
                            <td>{{ item.hora }}</td>
                            <td>{{ item.chofer_chofer_idchofer }}</td>
                            <td>{{ item.vehiculo_vehiculo_idvehiculo }}</td>
                            <td>{{ item.permisotaxi_permisotaxi_idpermisotaxi }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
