<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Pago de Bonificaciones</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Pago de Bonificaciones">
            <div class="form-group row" [ngClass]="{'has-error': (!idpagobonificacionAC.valid && idpagobonificacionAC.touched), 'has-success': (idpagobonificacionAC.valid && idpagobonificacionAC.touched)}">
              <label for="inputidpagobonificacionAC" class="col-sm-3 form-control-label">Idpagobonificacion</label>
              <div class="col-sm-9">
                <input [(ngModel)]="idpagobonificacion" [formControl]="idpagobonificacionAC" type="number" maxlength='11' class="form-control" id="inputidpagobonificacionAC" placeholder="Idpagobonificacion" required>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!bonificacion_idbonificacionAC.valid && bonificacion_idbonificacionAC.touched), 'has-success': (bonificacion_idbonificacionAC.valid && bonificacion_idbonificacionAC.touched)}">
              <label for="inputbonificacion_idbonificacionAC" class="col-sm-3 form-control-label">Bonificación</label>
              <div class="col-sm-7">
               <select [(ngModel)]="bonificacion_idbonificacion" [formControl]="bonificacion_idbonificacionAC" class="form-control" id="inputbonificacion_idbonificacionAC" required>
                 <option value="{{item.idbonificacion}}" *ngFor="let item of _bonificacion">{{item.concepto}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='bonificacionAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!pago_idpagoAC.valid && pago_idpagoAC.touched), 'has-success': (pago_idpagoAC.valid && pago_idpagoAC.touched)}">
              <label for="inputpago_idpagoAC" class="col-sm-3 form-control-label">Pago</label>
              <div class="col-sm-7">
               <select [(ngModel)]="pago_idpago" [formControl]="pago_idpagoAC" class="form-control" id="inputpago_idpagoAC" required>
                 <option value="{{item.idpago}}" *ngFor="let item of _pago">{{item.folio}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='pagoAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
