<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Mantenimientos</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Mantenimientos">
            <div class="form-group row" [ngClass]="{'has-error': (!idmantenimientoAC.valid && idmantenimientoAC.touched), 'has-success': (idmantenimientoAC.valid && idmantenimientoAC.touched)}">
              <label for="inputidmantenimientoAC" class="col-sm-3 form-control-label">Mantenimiento</label>
              <div class="col-sm-9">
                <input [(ngModel)]="idmantenimiento" [formControl]="idmantenimientoAC" type="text" maxlength='25' class="form-control" id="inputidmantenimientoAC" placeholder="Mantenimiento" required>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!kminicialAC.valid && kminicialAC.touched), 'has-success': (kminicialAC.valid && kminicialAC.touched)}">
              <label for="inputkminicialAC" class="col-sm-3 form-control-label">Kilometraje Inicial</label>
              <div class="col-sm-9">
                <input [(ngModel)]="kminicial" [formControl]="kminicialAC" type="number" maxlength='11' class="form-control" id="inputkminicialAC" placeholder="Kilometraje Inicial" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!kmfinalAC.valid && kmfinalAC.touched), 'has-success': (kmfinalAC.valid && kmfinalAC.touched)}">
              <label for="inputkmfinalAC" class="col-sm-3 form-control-label">Kilometraje Final</label>
              <div class="col-sm-9">
                <input [(ngModel)]="kmfinal" [formControl]="kmfinalAC" type="number" maxlength='11' class="form-control" id="inputkmfinalAC" placeholder="Kilometraje Final" >
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
